<a href="https://colab.research.google.com/github/pranavlm/python_ML/blob/master/pythonML2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Python program to count the occurrences of each word in a given sentence.

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts
inp=input("Enter sentence : ")
print( word_count(inp))

Enter sentence : the new function is the good function
{'the': 2, 'new': 1, 'function': 2, 'is': 1, 'good': 1}

# Write a Python program to remove duplicates from a list

In [ ]:
a = [10,20,30,20,10,50,60,40,80,50,40]
dup_items = set()
uniq_items = []
for x in a:
  if x not in dup_items:
	  uniq_items.append(x)
	  dup_items.add(x)
print(dup_items)
print(uniq_items)

{40, 10, 80, 50, 20, 60, 30}
[10, 20, 30, 50, 60, 40, 80]

# Write a Python program to count the number of elements in a list within a specified range

In [3]:
def count_range_in_list(li, min, max):
	ctr = 0
	for x in li:
		if min <= x <= max:
			ctr += 1
	return ctr

list1 = [10,20,30,40,40,40,70,80,99]
print(count_range_in_list(list1, 21, 100))

7

# Write a Python script to merge two Python dictionaries

In [4]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

# Write a Python program to find the highest 3 values in a dictionary

In [5]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
ThreeHighest = nlargest(3, my_dict, key=my_dict.get)
for val in ThreeHighest: 
    print(val, ":", my_dict.get(val))

b : 5874
e : 5874
c : 560

# Write a Python program to convert a tuple to a string

In [6]:
def convertTuple(tup): 
    str =  ''.join(tup) 
    return str
 
tuple = ('h', 'e',  'l', 'l','o') 
str = convertTuple(tuple) 
print(str)

hello

# Write a Python program to reverse a tuple

In [7]:
def Reverse(tuples): 
	new_tup = () 
	for k in reversed(tuples): 
		new_tup = new_tup + (k,) 
	print(new_tup) 

tuples = (10, 11, 12, 13, 14, 15) 
Reverse(tuples)

(15, 14, 13, 12, 11, 10)

# Write a Python program to remove existing indentation from all of the lines in a given text

In [8]:

import textwrap
sample_text = '''
Python is a widely used high-level, general-purpose, interpreted,dynamic programming language.
    '''
text_without_Indentation = textwrap.dedent(sample_text)
print()
print(text_without_Indentation )
print()

Python is a widely used high-level, general-purpose, interpreted,dynamic programming language.